<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width/2, initial-scale=1">
  <link rel="icon" href="favicon.ico">
  <title>Lucas Feitosa</title>
  <!-- Arquivos referentes ao css e bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <link rel="stylesheet" href="/css/style.css">
  <!-- Arquivos referentes ao fontawesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <!-- Arquivos de Script do bootstrap -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <!-- fontes personalizadas -->
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento" rel="stylesheet">

</head>

<body>
  <section id="presentation">
    <div id="navbar-container">
      <nav class="navbar fixed-top navbar-expand-lg navbar-light">
        <button class="navbar-toggler ml-auto hidden-sm-up float-xs-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
           
          </ul>
        </div>
      </nav>
    </div>
    <h1>Lucas Feitosa</h1>
    <h5>Curriculum Vitae</h5>
    <img class="cloud left-cloud" src="/images/cloud.png" alt="cloud">
    <img class="rounded mx-auto d-block mountain" src="/images/mountain.png" alt="cloud">
    <img class="cloud right-cloud" src="/images/cloud.png" alt="cloud">
    <canvas id="c"></canvas>
  </section>


  <section id="profile">
    <h1>Profile</h1>
    <h5>Web and Mobile Developer</h5>
    <hr>
    <div class="row">
      <div class="col-lg-4 about-container">
        <h3>About</h3>
        <p>
          Computer Engineer bachelor with a solid background in developing complex Android and iOS apps. I am passionate about the mobile marketing and have knowledge about.
        </p>
      </div>
      <div class="col-lg-4 text-center">
        <img src="/images/profile.png" alt="Lucas Feitosa de Freitas" width="246" height="246" /> 
      </div>
      <div class="col-lg-4 about-container info">
        <h3>Personal Data</h3>
        <p>
          <strong>Name:</strong><br />
          Lucas Feitosa de Freitas<br />
          <strong>Age:</strong><br />
          24 years old<br />
          <strong>Location:</strong><br />
          Cidade Guará, Distrito Federal, Brasil </p>


      </div>
    </div>
  </section>

  <section id="experiences">
    <h1>Experiences </h1>
    <hr>
    <h3>Educational background</h3>
    <div class="experiences">

      <div class="experience row">
        <div class="col-lg-4">
          <h4>Universidade Católica de Brasília</h4>
          <p class="experience-period">
            Fev 2015 -
            Dez 2015 </p>
        </div>
        <div class="col-lg-8">

          <h4>Apple Developer Academy (BEPiD) - Graduate studies</h4>
          <p class="hidden-phone">
            The program offers students opotunity to implements your own ideas, learning and developing an app or game since foundations until the publish process on App Store. In addition, they receive training and mentoring in entrepreneurship, communication and marketing.
          </p>
          <i class="marker fas fa-map-marker-alt"> <span>QS 7 - Taguatinga, Brasília - DF</span> </i>

        </div>
      </div>

      <div class="experience row">
        <div class="col-lg-4">
          <h4>Centro Universitário IESB</h4>
          <p class="experience-period">
            Ago 2013 -
            Dez 2014 </p>
        </div>
        <div class="col-lg-8">

          <h4>Web Developer</h4>

          <p class="hidden-phone">
              Technical license by "Programa Nacional de Acesso ao Ensino Técnico e Emprego (Pronatec)" where i learned about web technologies to develop modern websites as html, css and JavaScript and develop web servers using Php and nodeJS.
          </p>
          <i class="marker fas fa-map-marker-alt"><span> SGAS Quadra 613/614 - Asa Sul, Brasília - DF</span> </i>


        </div>
      </div>

      <div class="experience row">
        <div class="col-lg-4">
          <h4>Centro universitário IESB</h4>
          <p class="experience-period">
            Mar 2013 -
            Dez 2017 </p>
        </div>
        <div class="col-lg-8">

          <h4>Computer Engineer bachelor</h4>

          <p class="hidden-phone">
            Academic honour awarded to the best student on Computer Engineer course where i learn solid knowledge to develop modern, innovative, efficient and sustainable solutions for the various kind of problems.
          </p>
          <i class="marker fas fa-map-marker-alt"> <span> SGAS Quadra 613/614 - Asa Sul, Brasília - DF</span></i>

        </div>
      </div>


    </div>
    <hr>
    <h3>Professional Activity </h3>
    <div class="experiences">

      <div class="experience row">
        <div class="col-lg-4">
          <h4>BEPiD (Brazilian Education Program For Ios Development)</h4>
          <p class="experience-period">
            Fev 2015 -
            Dez 2015 </p>
        </div>
        <div class="col-lg-8">
          <h4> Intern - iOS Developer </h4>
          <p class="hidden-phone">
            iOS Apps Development with Swift and Objective C using Trello for project managing, Scrum and Other tools as Git and Slack. 
          </p>
          <i class="marker fas fa-map-marker-alt"> <span>QS 7 - Taguatinga, Brasília - DF</span> </i>
        </div>
      </div>

      <div class="experience row">
        <div class="col-lg-4">
          <h4>Office of the Prosecutor General (Procuradoria Geral da República)</h4>
          <p class="experience-period">
            Nov 2016 -
            Jan 2018 </p>
        </div>
        <div class="col-lg-8">
          <h4>Intern - Web Developer</h4>
          <p class="hidden-phone">
            National Calculation System (Sistema Nacional de Cálculo) Development using web technologies (html, css, javascript and AJAX) with Oracle tools (PL/SQL, RAD-APEX and Oracle Database). 
           </p>
          <i class="marker fas fa-map-marker-alt"><span> St. de Administração Federal Sul Q. 4 Conjunto C - Brasília - DF</span> </i>
        </div>
      </div>

      <div class="experience row">
        <div class="col-lg-4">
          <h4>First Decision</h4>
          <p class="experience-period">
            Mar 2019 -
            Current </p>
        </div>
        <div class="col-lg-8">
          <h4>Mobile Developer</h4>
          <p class="hidden-phone">
            Prototyping using Sketch and invision, Mobile applications development for Android with Kotlin and iOS with Swift, using Internet of things concepts and technologies like MQTT, Rest, Beacons, Sensors, Bluetooth Low Energy and Arduino, ReactiveX concepts, Advanced App Architecture (MVC,MVP,VIP) and Scrum.
          </p>
          <i class="marker fas fa-map-marker-alt"> <span>Edificio Parque Brasilia - SIG, Brasília - DF</span> </i>
        </div>
      </div>

      <div class="experience row">
        <div class="col-lg-4">
          <h4>Centro universitário IESB</h4>
          <p class="experience-period">
            Mai 2019 -
            Current </p>
        </div>
        <div class="col-lg-8">
          <h4>IESB Lab</h4>
          <p class="hidden-phone">
            IESB Lab is an Business incubator and coworking to students and graduates, wich mission is promove entrepreneurship, encouraging students to develop innovative business opportunities. 
         </p>
          <i class="marker fas fa-map-marker-alt"> <span> SGAN Quadra 609 Módulo D - Asa Norte</span></i>
        </div>
      </div>
    </div>


    <h3>Scientific papers</h3>
    <div class="experiences">
      <div class="experience row">
        <div class="col-lg-4">
          <h4>Applied Electronics 2019</h4>
          <p class="experience-period">
            Sep 2019 </p>
        </div>
        <div class="col-lg-8">
          <h4> Data Validation System Using QR Code and Meaningless Reversible
            Degradation </h4>
          <p class="hidden-phone">
            This paper presents a novel string data validation 
            system using QR Codes and meaningless reversible
            degradation. The proposed scheme exploits reversible
            degradation properties, using the systematic Berlekamp
            Reed-Solomon error correction algorithm and the QR
            Code. This new mechanism encodes up to 388 characters
            in two information channels: a dynamic version QR
            Code (channel 1) and a wireless network (channel 2).
            A byte mode QR Code stores partial corrupted and
            masked data input bits. 
          </p>
          <i class="marker fas fa-map-marker-alt"> <span>University of West Bohemia in Pilsen, Czech Republic</span> </i>
        </div>
      </div>

    <h3>Certifications</h3>
    <div class="experiences">
      <div class="experience row">
        <div class="col-lg-4">
          <h4>CCA - Cambridge Certification Authority</h4>
          <p class="experience-period">
            Oct 2019 </p>
        </div>
        <div class="col-lg-8">
          <h4> Swift Level 1 </h4>
          <p class="hidden-phone">
              This examination tests a basic knowledge of Swift, 
              including variables, arrays, dictionaries, 
              loops, if statements and general Swift Syntax.
          </p>
          <i class="marker fas fa-map-marker-alt"> <span>London, UK</span> </i>
        </div>
      </div>
      <div class="experience row">
          <div class="col-lg-4">
            <h4>CCA - Cambridge Certification Authority</h4>
            <p class="experience-period">
              Oct 2019 </p>
          </div>
          <div class="col-lg-8">
            <h4>Java Level 1</h4>
            <p class="hidden-phone">
                This examination tests basic Java and Android concepts such as buttons, textViews and arrays, maps, if statements and loops.
            </p>
            <i class="marker fas fa-map-marker-alt"> <span>London, UK</span> </i>
          </div>
      </div>

      <div class="experience row">
          <div class="col-lg-4">
            <h4>CCA - Cambridge Certification Authority</h4>
            <p class="experience-period">
              Oct 2019 </p>
          </div>
          <div class="col-lg-8">
            <h4> Swift Level 2 </h4>
            <p class="hidden-phone">
                This examination tests advanced Swift concepts such as optionals, 
                classes and methods, as well as Xcode techniques such as auto-layout and working with UI elements.
            </p>
            <i class="marker fas fa-map-marker-alt"> <span>London, UK</span> </i>
          </div>
        </div>
        <div class="experience row">
            <div class="col-lg-4">
              <h4>CCA - Cambridge Certification Authority</h4>
              <p class="experience-period">
                Oct 2019 </p>
            </div>
            <div class="col-lg-8">
              <h4>Java Level 2</h4>
              <p class="hidden-phone">
                  This examination will test more advanced Android and Java concepts including audio, video, layouts, animations, listViews and timers.
              </p>
              <i class="marker fas fa-map-marker-alt"> <span>London, UK</span> </i>
            </div>
        </div>

    </div>

  </section>

  <section id="habilities">
    <h1>Habilities</h1>
    <div class="row row-tr">
      <div class="col">
        <img class="img-h" src="/images/xcode.png" alt="xcode" width="96px" height="96px">
      </div>
      <div class="col">
        <h3>Mobile Applications</h3>
        <p>Mobile Development for Android and iOS. Using Java and Swift.</p>
      </div>
    </div>
    <div class="row row-tl">
      <div class="col">
        <h3>Web Fron-End</h3>
        <p>Web Development using technologies as HTML, CSS, Bootstrap 4, Javascipt and JQuery</p>
      </div>
      <div class="col">
        <img class="img-h" src="/images/web.png" alt="">
      </div>
    </div>
    <div class="row row-tr">
      <div class="col">
        <img class="img-h" src="/images/server.png" alt="">
      </div>
      <div class="col">
        <h3>Web Servers</h3>
        <p>Deploy servers in Linux Environment and development using nodeJS and PHP.</p>
      </div>
    </div>
    <div class="row row-tl">
      <div class="col">
        <h3>Database</h3>
        <p>Experience with mySQL, Oracle, SQLite and MongoDB</p>
      </div>
      <div class="col">
        <img class="img-h" src="/images/database.png" alt="">
      </div>
    </div>

  </section>

  <section id="portifolio">
    <h1 class="my-4">Projects</h1>
    <div class="row">
      <div class="col-lg-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="/images/eco.jpeg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">EcoRec</a>
            </h4>
            <p class="card-text">The project is to construct build a selective collection trash able to inform when it is
                full and sending this information to a system. This con plot the best route to the employee
                journey that will perform the collection is the lowest possible and the collection more efficient.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="/images/easy.jpeg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">EasyTracking</a>
            </h4>
            <p class="card-text">The project proposes an item validation system through the use of QR Codes
                and reversible degradation, based on the Reed Solomon algorithm, error correction
                code. The proposed scheme allows to register users and his products in a database.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <a href="https://appadvice.com/app/medicrush/988937971"><img class="card-img-top" src="images/medi.jpeg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="https://appadvice.com/app/medicrush/988937971">MediCrush</a>
              </h4>
              <p class="card-text">MediCrush is a Endless Puzzle-in Time game with a medieval theme. You will emerge in a universe with a lot of agility, power ups, skills and skins.The main goal is to match the sequence of symbols that is moving at the top of the screen to the bottom bar, before it arrives, and get coins, diamonds and the highest score possible. Play MediCrush and be the best.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" width="640" height="240" src="images/race.jpeg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Race Color</a>
              </h4>
              <p class="card-text">Race Color is puzzle in Time endless game where your reflexes will be tested. In this game you will have to press buttons to change the color of side lights. This color have to be the same of the car that will cross de finish line. Get ready. </p>
            </div>
          </div>
        </div>
      </div>

  </section>

  <section id="rodape">
    <button class="btn btn-dark btn-md download-button" type="button"><i class="far fa-envelope"></i> <a class="contact" href="mailto:contato@lucasfeitosa.tech">Contact</a></button>
    <p>@2019 Lucas Feitosa de Freitas.</p>
    <a href="https://icons8.com/icon/51974/xcode">Xcode icon by Icons8</a>
    <a href="https://icons8.com/icon/11973/database">Database icon by Icons8</a>
    <a href="https://icons8.com/icon/13051/server">Server icon by Icons8</a>
    <a href="https://icons8.com/icon/32313/responsive">Responsive icon by Icons8</a>
  </section>


<script src="/js/waves.js" charset="utf-8"></script>
</body>

</html>
